*{
    margin: 0;
    padding: 0;
}
  nav{
      background-color: black;
      color: white;
      padding: 15px;
  }
ul,li,h1{
    display: inline;
}
  ul{
    margin-left: 75%;
  }
  li{
    color: gray;
    cursor: pointer;
  }
  li:hover{
      color: white;
  }
  input{
      padding: 10px;
      width: 50%;
  }
  .two{
      text-align: center;
      margin: 30px;
  }

   .box{
       border-color: black;
       border-width: 2px;
       border-style: solid;
       width: 220px;
       text-align: center;
       display: inline-block;
       margin-left: 20px;
   }
   
   .pad:hover{
        background-color: black;
        color: white;
   }
    .pad{
        padding: 5px;
    }
   .three{
       margin: 50px;
       margin-left: 30%;
   }
    .threeone{
         margin: 50px;
       margin-left: 30%;
   }
   .four{
      margin-top: 20px;
      text-align: center;
      padding: 40px;
   }

   .five{
       background-color: black;
       color: white;
       text-align: center;
       padding: 20px;
       display: inline-block;
   }
   .top{
      padding-top: 30px;
      font-size: 12px;
      color: gray;
   }

   .in{
     padding: 2px;
   }
